<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grupo9_ProyectoBibliotecaInfantilMisPrimerosLibros"
        tools:targetApi="31">
        <activity
            android:name=".Modulo5.Administracion.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".Modulo5.Administracion.GestionUsuarios"
            android:exported="false" />
        <activity
            android:name=".Modulo5.Administracion.AdministracionLibros"
            android:exported="false" />
        <activity
            android:name=".ModuloPadresYEducadores.ControlParental"
            android:exported="false" />
        <activity
            android:name=".ModuloPadresYEducadores.ReportesParaPadres"
            android:exported="false" />
        <activity
            android:name=".ModuloPadresYEducadores.MenudelmoduloPadresEducadores"
            android:exported="false" />
        <activity
            android:name=".Modulo5.Administracion.SubirLibro"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.resultadoJuego"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.juegoValores"
            android:exported="false" />
        <activity
            android:name=".SeleccionarPerfil"
            android:exported="false" />
        <activity
            android:name=".Modulo5.Administracion.RegistrarPadresYEducadores"
            android:exported="false" />
        <activity
            android:name=".Modulo5.Administracion.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModuloActividadesyJuegos.VerCuento"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.menuPrincipalModuloReyes"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.consultarDatos"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.formularioCuento"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.verCuentoUnoPaginauno"
            android:exported="false" />
        <activity
            android:name=".ModuloActividadesyJuegos.verCuentoUnoPaginados"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegistrarPerfilInfantilActivity"
            android:exported="true" />
        <activity android:name=".ListarPerfilesInfantilesActivity" />
        <activity android:name=".EditarPerfilInfantilActivity" />
        <activity android:name=".ConsultarPerfilActivity" />
        <activity android:name=".ModuloCatalogoLectura.CatalogoYLectura" />
        <activity
            android:name=".MenuPerfilInfantilActivity"
            android:exported="false" />
    </application>

</manifest>